header {
  margin-top: 0;
  margin-top: 0;
  background: radial-gradient(
    circle at 74.2% 50.9%,
    rgb(14, 72, 222) 5.2%,
    rgb(3, 22, 65) 75.3%
  );
  position: fixed;
  width: 100%;
}
nav {
  display: inline-block;
  font-size: 18px;
  text-transform: uppercase;
  width: calc(100% - 20px);
  text-align: right;
  padding-bottom: 20px;
}
nav ul {
  list-style: none;
  margin: 0 auto;
}
nav li {
  list-style: none;
  margin-right: 10px;
  margin-left: 10px;
  display: inline-block;
}
a {
  margin-right: 15px;
  color: white;
  font-family: "Quicksand", sans-serif;
  text-decoration: none;
  transition: 0.5s ease-in-out;
}
a:hover {
  color: #ef7781;
}
.app-wrapper {
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.burger-button {
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
.navbar {
  border-radius: 5px;
  height: 70px;
  margin-bottom: 20px;
  overflow: hidden;
}
.navbar .burger-button {
  width: 20px;
  display: inline-block;
  margin-top: 20px;
  margin-left: 20px;
}
.navbar .burger-button .line {
  height: 2px;
  background-color: white;
  margin-bottom: 3px;
  border-radius: 1px;
}
