body {
  margin: 0;
  font-family: "Quicksand", sans-serif;
}
header {
  display: block;
  margin-top: 0;
  width: 980px;
  width: 100%;
}
a {
  margin-right: 15px;
  color: black;
  text-decoration: none;
  transition: 0.3s ease-in-out;
}
a:hover {
  color: #ef7781;
}
h3 {
  text-align: center;
  font-family: "Quicksand", sans-serif;
  color: black;
}
input {
  height: 30px;
  width: 400px;
}
textarea {
  height: 70px;
  width: 400px;
}
input .message {
  height: 50px;
}
form button {
  width: 405px;
  font-family: "Quicksand", sans-serif;
  text-transform: uppercase;
  background-color: white;
  border: 2px solid #0e42ca;
  cursor: pointer;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 10px;
  transition: 0.1s ease-in-out;
}
form button:hover {
  font-size: 15px;
  color: white;
  background: radial-gradient(
    circle at 74.2% 50.9%,
    rgb(14, 72, 222) 5.2%,
    rgb(3, 22, 65) 75.3%
  );
}
footer {
  background-image: url("services-background.jpg");
}
.burger-button {
  display: none;
}
.top-menu-container {
  display: block;
  width: 100%;
  text-align: right;
  margin-top: 10px;
  padding-top: 20px;
}
.contact-menu {
  padding-bottom: 15px;
  border-bottom: 1px black solid;
}
.contact-menu ul {
  list-style: none;
  margin: 0;
}
.contact-menu li {
  list-style: none;
  margin-right: 5px;
  margin-left: 5px;
  display: inline-block;
}
.contact-menu a {
  margin-right: 15px;
  color: black;
  text-decoration: none;
  transition: 0.3s ease-in-out;
}
.contact-menu a:hover {
  color: darkblue;
}

.site-navigation-menu {
  display: none;
}

.site-navigation-menu ul {
  list-style: none;
  margin: 0 auto;
}

.site-navigation-menu li {
  list-style: none;
  text-align: left;
  padding: 10px;
  font-size: 20px;
}

.page-banner {
  display: block;
  width: 980px;
  width: 100%;
  box-sizing: border-box;
}
.container img {
  width: 980px;
  width: 100%;
  height: auto;
}
.description {
  width: 980px;
  width: 90%;
  margin: 90px auto 90px auto;
  box-sizing: border-box;
  text-align: center;
}
.description h1 {
  font-size: 35px;
  font-weight: bold;
}
.description p {
  font-size: 20px;
  line-height: 1.8;
}
.service-container {
  background-image: url("services-background.jpg");
  width: 980px;
  width: 100%;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 50px;
}
.row .box {
  width: 20%;
  display: inline-block;
  border: 1px black solid;
  padding: 30px;
  margin: 30px;
  vertical-align: top;
  box-sizing: border-box;
}
.box p {
  font-size: 20px;
  text-align: center;
}
.gallery-container {
  margin: 100px auto 100px auto;
  width: 980px;
  width: 100%;
  vertical-align: top;
  box-sizing: border-box;
}
.box-foto {
  width: 45%;
  display: inline-block;
  box-sizing: border-box;
  vertical-align: top;
  margin: 20px 30px;
  border: 1px black solid;
  padding: 10px 10px;
}
.contact-container {
  margin: 100px auto 100px auto;
  width: 980px;
  width: 100%;
  vertical-align: top;
  box-sizing: border-box;
}
.address {
  width: 44%;
  display: inline-block;
  box-sizing: border-box;
  margin: 0 auto;
}
.address p {
  text-align: center;
}
.address a {
  text-decoration: none;
  transition: 0.5s ease-in-out;
  color: black;
}
.address.button {
  font-family: "Quicksand", sans-serif;
  border-radius: 12px;
  background-color: white;
  border: none;
  cursor: pointer;
  padding: 15px 32px;
  transition: 0.1s ease-in-out;
}
.address .button:hover {
  border: 2px solid #0e42ca;
}
.contact-form {
  display: inline-block;
  box-sizing: content-box;
  margin: 0 auto;
  width: 50%;
}

@media only screen and (max-width: 980px) {
  body {
    margin: 0;
  }
  header {
    width: auto;
  }
  .contact-menu {
    display: none;
  }
  .burger-button {
    display: block;
    width: 20px;
    float: right;
  }
  .line1,
  .line2,
  .line3 {
    height: 2px;
    background-color: black;
    margin-bottom: 3px;
    border-radius: 1px;
    transition: all 0.5s ease-out;
  }
  .change.line1 {
    -webkit-transform: rotate(-45deg) translate(25px, 17px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }
  .change.line2 {
    opacity: 0;
  }
  .change.line3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }
  .page-title {
    width: auto;
  }
  .site-navigation-menu.visible {
    display: block;
    text-transform: uppercase;
    position: fixed;
    z-index: 2;
    width: 70%;
    height: 100%;
    color: white;
    background-color: #333333;
    box-sizing: border-box;
    border-radius: 2px;
  }

  .description {
    width: auto;
  }
  .service-container {
    width: auto;
  }
  .row .box {
    width: auto;
    display: block;
  }
  .gallery-container {
    width: auto;
  }
  .box-foto {
    width: auto;
  }
  .address {
    width: auto;
    display: block;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .contact-container {
    width: auto;
  }
}
